%h1
  See your contributions

= form_tag "/contri" do 
  = label_tag 'Github Username'
  = text_field_tag :username

  = label_tag 'Github Password'
  = password_field_tag :password


  = submit_tag 'See Contributions',class: :button